@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #081b29;
  --main-color: #00abf0;
  --text-color: #333;
  --second-text-color: #555;
  --white-color: #fff;
  --cover-color: linear-gradient(45deg, #00abf0, #006e9a);
  --pages-color: linear-gradient(90deg, #fff, #ddd);
  --border: .125rem solid #00abf0;
  --box-shadow: 0 0 .6rem rgba(0, 0, 0, .2);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  overflow: hidden;
}

/* wrapper */
.wrapper {
  position: relative;
  width: 66rem;
  height: 45rem;
  padding: 2rem;
  perspective: 250rem;
  animation: show-animate 2s forwards;
}

@keyframes show-animate {

  0%,
  30% {
    opacity: 0;
    transform: rotate(-20deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--cover-color);
  box-shadow: var(--box-shadow);
  border-top-left-radius: .6rem;
  border-bottom-left-radius: .6rem;
  transform-origin: right;
}

.cover.cover-left {
  z-index: -1;
}

.cover.cover-right {
  z-index: 100;
  transition: transform 1s cubic-bezier(.645, .045, .355, 1);
}

.cover.cover-right.turn {
  transform: rotateY(180deg);
}

/* book */
.book {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  perspective: 250rem;
}

.book .book-page {
  position: absolute;
  width: 50%;
  height: 100%;
  background: var(--pages-color);
  box-shadow: 0 0 .6rem rgba(0, 0, 0, .1);
  display: flex;
  padding: 2rem;
}

.book-page.page-left {
  box-shadow: -.6rem .6rem .6rem rgba(0, 0, 0, .1);
}

.book-page.page-left {
  box-shadow: -.6rem .6rem .6rem rgba(0, 0, 0, .1);
}

.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4cqi;
}

/* Avatar */
.profile-page img {
  max-width: 180px;
  border-radius: 50%;
  border: .25rem solid var(--main-color);
}
/* Name */
.profile-page h1 {
  font-size: 2.7rem;
  line-height: 1;
  margin-top: 2rem;
}
/* Title */
.profile-page h3 {
  font-size: 1.5rem;
  color: var(--main-color);
}

/* Description */
.profile-page p {
  text-align: justify;
  margin-top: 2rem;
}

/* Pages */
.book-page.page-right {
  position: absolute;
  right: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: transform 1s cubic-bezier(.645, .045, .355, 1);
}

.book-page.page-right.turn {
  transform: rotateY(-180deg);
}

.book-page .page-front,
.book-page .page-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--pages-color);
  padding: 1.5rem 2rem;
}

.book-page .page-front {
  transform: rotateY(0deg) translateZ(1px);
}

.book-page .page-back {
  transform: rotateY(180deg) translateZ(1px);
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}
.number-page {
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
}

.nextprev-btn {
  position: absolute;
  bottom: .9rem;
  right: 1.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  font-size: 2rem;
  color: var(--second-text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.nextprev-btn:hover {
  color: var(--main-color);
}

.nextprev-btn.back {
  left: 1.5rem;
}

/* Picture Container */
.portfolio-box .img-box {
  display: flex;
  width: 100%;
  height: 15rem;
  border: var(--border);
  border-radius: .5rem;
  overflow: hidden;
}
/* Picture here */
.portfolio-box .img-box img {
  width: 100%;
  object-fit: cover;
  transition: .5s ease;
}

.portfolio-box .img-box:hover img {
  transform: scale(1.1);
}

/* Picture description */
.portfolio-box .info-box {
  margin: 2rem 0 1.5rem;
}

.portfolio-box .info-box p:nth-of-type(1) {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
